@import 'styles/colors.scss';

.playlist {
    &__button {
        color: $dark;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
            color: $primary !important;
            background: $bg-warning-fade;
        }
    }
    &__modal {
        [class~='ant-form-item'] {
            display: grid;
        }

        [class~='ant-modal-footer'],
        [class~='ant-modal-header'] {
            padding: 1rem;
        }

        [class~='ant-modal-close-x'] {
            line-height: 48px;
        }
    }
}
