@import 'styles/colors.scss';

.playlist {
    &__button {
        color: $dark;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &:hover {
            color: $primary !important;
            background: $bg-warning-fade;
        }
    }
    &__modal {
    }
}
