@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.homeVideoSection {
    padding: $content-padding;
    border-radius: $border-radius;

    &[data-theme='light'] {
        background: $light50;
    }

    &[data-theme='dark'] {
        background: $bg-primary-dark;
    }
}
