NEXT_PUBLIC_IMAGES_URL=

NEXT_PUBLIC_FRONTEND_DEVELOPMENT_URL=
NEXT_PUBLIC_FRONTEND_PRODUCTION_URL=
NEXT_PUBLIC_FRONTEND_STAGING_URL=

NEXT_PUBLIC_EMAILJS_PUBLIC_KEY=
NEXT_PUBLIC_EMAILJS_TEMPLATE_ID=
NEXT_PUBLIC_EMAILJS_SERVICE_ID=

NEXT_PUBLIC_JWT_AUTH_SECRET=

NEXT_PUBLIC_FACEBOOK_AUTH_CLIENT_SECRET=
NEXT_PUBLIC_FACEBOOK_AUTH_CLIENT_ID=

NEXT_PUBLIC_GOOGLE_AUTH_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_AUTH_CLIENT_ID=
NEXT_PUBLIC_GOOGLE_API_KEY=

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_PRESET=
NEXT_PUBLIC_CLOUDINARY_SECRET=
NEXT_PUBLIC_CLOUDINARY_API_KEY=
NEXT_PUBLIC_CLOUDINARY_URL=

NEXT_PUBLIC_CRYPTO_PASSPHASE=
NEXT_PUBLIC_API_URL=
