@import 'styles/dimensions.scss';
@import 'styles/colors.scss';
@import 'styles/_mixins.scss';

.articleCover {
    height: 35rem;
    border-radius: $border-radius;

    &__overlay {
        position: relative;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;

        overflow: hidden;

        background: $primary;
        border-radius: $border-radius;

        img {
            width: 100%;
            height: 100%;
            opacity: 0.3;
            object-fit: cover;

            transition: transform 0.5s ease;
            border-radius: calc(#{$border-radius} + 1px);
        }
    }

    &__content {
        position: relative;
        top: -100%;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 0 calc(#{$content-padding} * 2);

        &__like {
            display: flex;
            flex-flow: column;
            align-items: flex-end;
            justify-content: center;
            padding-right: $padding;

            [class~='anticon'] {
                font-size: 52pt;
                font-weight: 700;
                cursor: pointer;
                transition: color ease-in-out 0.2s;

                &[data-is-my-like='true'] {
                    color: $warning !important;
                    &:hover {
                        color: $yellow !important;
                    }
                }

                &[data-is-my-like='false'] {
                    color: $white !important;
                    &:hover {
                        color: $yellow !important;
                    }
                }
            }

            [data-likes-value='true'] {
                color: $white;
                font-size: 20pt;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            [data-read='true'] {
                color: $white;
            }
        }

        &__title {
            height: 10rem;
            display: flex;
            align-items: center;

            border-left: 0.5rem solid $warning;
            padding-right: calc(#{$content-padding} * 2.5);

            [class~='ant-typography'] {
                margin: 0;
                color: $white;
                font-size: 32pt;
                font-weight: 900;
                line-height: 60px;
                text-align: start;
                font-family: Poppins;
                padding-left: $padding;
            }
        }
    }

    @include mediaXS {
        height: 18rem;

        &__content {
            flex-flow: column;
            padding: calc(#{$mobile-content-padding} * 1.5);

            &__title {
                padding-right: 0;
                margin-bottom: 1rem;
                padding-left: calc(#{$padding} * 0.5);

                [class~='ant-typography'] {
                    border: 0;
                    padding: 0;
                    font-size: 16pt;
                    font-weight: 700;
                    line-height: 1.5;
                }
            }
            &__like {
                width: 100%;
                justify-content: flex-start;
            }
            &__action {
                width: 100%;
                align-items: center;
                padding-top: $padding !important;

                border-top: 1px solid $light20;

                [class~='ant-row'] {
                    border: 0 !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    justify-content: flex-start !important;
                }

                &__left {
                    button {
                        color: $white !important;
                        &:hover {
                            color: $light !important;
                        }
                    }
                }

                &__right {
                    display: flex;
                    justify-content: flex-end;

                    [data-read='true'] {
                        color: $white;
                        font-size: 10pt;
                    }
                }
            }

            [class~='anticon'] {
                font-size: 16pt !important;
            }
        }
    }

    @include mediaSM {
        height: 18rem;

        &__content {
            display: flex;
            align-items: flex-end;
            padding: calc(#{$mobile-content-padding} * 2);

            [class~='anticon'] {
                font-size: 16.5pt !important;
            }

            &__title {
                padding-right: 0;
                margin-bottom: $padding;
                padding-left: calc(#{$padding} * 0.5);

                [class~='ant-typography'] {
                    border: 0;
                    padding: 0;
                    font-size: 22pt;
                    font-weight: 700;
                    line-height: 1.5;
                }
            }
            &__like {
                width: 100%;
                justify-content: flex-start;
            }

            &__action {
                width: 100%;
                padding-top: 1rem !important;
                align-items: center;

                border-top: 1px solid $light20;

                [class~='ant-row'] {
                    border: 0 !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    justify-content: flex-start !important;
                }

                &__left {
                    button {
                        color: $white !important;
                        &:hover {
                            color: $light !important;
                        }
                    }

                    [data-like='true'],
                    [data-comment='true'] {
                        align-items: center !important;
                    }
                }

                &__right {
                    display: flex;
                    justify-content: flex-end;

                    [data-read='true'] {
                        color: $white;
                        font-size: 12pt;
                    }
                }
            }
        }
    }

    @include mediaMD {
        height: 22rem;
        &__content {
            display: flex;
            align-items: flex-end;
            padding: calc(#{$mobile-content-padding} * 2);

            [class~='anticon'] {
                font-size: 18pt !important;
            }

            &__title {
                padding-right: 0;
                margin-bottom: $padding;
                padding-left: calc(#{$padding} * 0.5);

                [class~='ant-typography'] {
                    border: 0;
                    padding: 0;
                    font-size: 25pt;
                    font-weight: 700;
                    line-height: 1.5;
                }
            }
            &__like {
                width: 100%;
                justify-content: flex-start;
            }

            &__action {
                width: 100%;
                align-items: center;
                padding-top: $padding !important;

                border-top: 1px solid $light20;

                [class~='ant-row'] {
                    border: 0 !important;
                    margin: 0 !important;
                    padding: 0 !important;
                    justify-content: flex-start !important;
                }

                &__left {
                    button {
                        color: $white !important;
                        &:hover {
                            color: $light !important;
                        }
                    }

                    [data-like='true'],
                    [data-comment='true'] {
                        align-items: center !important;
                    }
                }

                &__right {
                    display: flex;
                    justify-content: flex-end;

                    [data-read='true'] {
                        color: $white;
                        font-size: 12pt;
                    }
                }
            }
        }
    }

    @include mediaLG {
        height: 32rem;
        &__content {
            padding: calc(#{$content-padding} * 1.2);

            &__title {
                padding-right: 0 !important;

                [class~='ant-typography'] {
                    font-size: 30pt !important;
                }
            }

            &__like {
                padding-right: 1rem;
                text-align: end !important;

                [data-likes-value='true'] {
                    font-size: 13.5pt;
                }

                [data-read='true'] {
                    font-size: 12px;
                }

                [class~='anticon'] {
                    font-size: 42pt !important;
                }
            }
        }
    }

    @include mediaXL {
        &__content {
            padding: calc(#{$content-padding} * 1.2);

            &__title {
                padding-right: $content-padding;

                [class~='ant-typography'] {
                    font-size: 30pt !important;
                }
            }

            &__like {
                padding-right: 1rem;
                text-align: end !important;

                [data-likes-value='true'] {
                    font-size: 13.5pt;
                }

                [data-read='true'] {
                    font-size: 13px;
                }

                [class~='anticon'] {
                    font-size: 48pt !important;
                }
            }
        }
    }

    @include mediaXXL {
        &__content {
            &__title {
                [class~='ant-typography'] {
                    font-size: 52pt !important;
                }
            }
        }
    }
}
