@import 'styles/colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/dimensions.scss';

.playlistCard {
    [class~='ant-card-body'] {
        padding: 0;
        height: 100%;
    }

    [data-body='true'] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: calc(#{$padding} * 0.8);

        [data-title='true'] {
            height: 3.5rem;
            font-size: 13pt;
            font-weight: 700;
            &:hover {
                text-decoration: underline;
            }
        }
        [data-videos] {
            font-size: 9pt;
            font-style: italic;
        }
        [data-created-at='true'] {
            font-size: 10pt;
        }
    }

    &__cover {
        display: flex;
        align-items: center;
        justify-content: center;

        &__image {
            width: 100%;
            height: 100%;
            position: relative;

            img {
                object-fit: cover;
                aspect-ratio: 16 / 9;
                border-radius: $border-radius;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &[data-theme='light'] {
        [class~='ant-card'] {
            background: $white;
        }
        [class~='ant-typography'] {
            color: $dark;
        }
        [data-title='true'] {
            color: $black;
        }
        [data-created-at='true'] {
            color: $dark50;
        }
    }
    &[data-theme='dark'] {
        [class~='ant-card'] {
            background: $bg-primary-dark90;
        }
        [class~='ant-typography'] {
            color: $white;
        }
        [data-created-at='true'] {
            color: $light50;
        }
    }

    @include mediaXS {
        [data-body='true'] {
            padding: calc(#{$padding} * 0.5);
            [data-title='true'] {
                font-size: 11pt;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                height: $padding;
            }

            [data-videos] {
                font-size: 7pt;
            }
            [data-created-at='true'] {
                font-size: 8pt;
            }
        }
    }

    @include mediaSM {
        [data-body='true'] {
            [data-title='true'] {
                font-size: 15pt;
                white-space: nowrap;
            }

            [data-videos] {
                font-size: 10pt;
            }
            [data-created-at='true'] {
                font-size: 1qpt;
            }
        }
    }

    @include mediaMD {
        [data-body='true'] {
            [data-title='true'] {
                font-size: 15pt;
            }

            [data-videos] {
                font-size: 10pt;
            }
            [data-created-at='true'] {
                font-size: 1qpt;
            }
        }
    }
}
