@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.storyPopup {
    [class~='ant-modal-close'] {
        cursor: pointer;
        position: absolute;

        display: flex;
        align-items: center;
        justify-content: center;

        // top: -10px;
        right: 10px;
        // background: $white;
        border-radius: 100%;

        width: calc(#{$padding} * 1.2);
        height: calc(#{$padding} * 1.2);

        [class~='ant-modal-close-x'] {
            line-height: 4.2;
        }

        [class~='anticon'] {
            color: $white;
            font-size: 1.25rem;
        }
    }

    [class~='ant-modal-content'] {
        background: $dark-black;
        border-radius: $border-radius;
    }

    [class~='ant-modal-header'] {
        padding: $padding;
        background: $dark-black;
        border-color: $light10;
    }

    [class~='ant-modal-body'] {
        background: $dark-black;
    }

    &__content {
        & > div {
            height: 100% !important;
            background: transparent !important;
            & > div:first-of-type {
                padding: 0 !important;
                width: 100% !important;
            }

            & > div:nth-of-type(2) {
                display: flex;
                align-items: center;
                justify-content: center;

                width: 100% !important;
                height: 480px !important;
                margin-top: $padding !important;
            }
        }
        img {
            width: 100% !important;
            height: 100% !important;

            aspect-ratio: 1;
            object-fit: fill;
        }
    }
}
