@import 'styles/dimensions.scss';
@import 'styles/_mixins.scss';

.subscribeInput {
    padding-top: calc(#{$padding} * 1.2);

    [class~='ant-btn'] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;

        padding: calc(#{$padding} * 0.86);

        display: flex;
        align-items: center;
        justify-content: center;
    }

    [class~='ant-input'] {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    @include mediaXS {
        display: flex;
        margin: 0 !important;

        [class~='ant-btn'] {
            font-size: 11pt;
        }
    }

    @include mediaMD {
        width: 70%;
        display: flex;
        margin: 0 $padding;
    }
}
