@import 'styles/colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/dimensions.scss';

.playlistSkeleton {
    [class~='ant-card-body'] {
        padding: 0;
        height: 100%;
    }

    &__cover {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;

        [class~='ant-skeleton-element'],
        [class~='ant-skeleton-image'] {
            width: 100%;
            height: 100%;
        }

        [class~='ant-skeleton-image'] {
            border-radius: $border-radius;

            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }

    &__body {
        padding: $padding;
        padding-right: 2rem !important;

        [data-description='true'] {
            [class~='ant-skeleton-button'] {
                height: 12px !important;
            }
        }
    }

    &[data-theme='dark'] {
        [class~='ant-card-body'] {
            background-color: $primary;
        }
    }

    @include mediaXS {
        .playlistSkeleton__body {
            padding: calc(#{$padding} * 0.67);
            padding-right: 1rem !important;
        }
    }
    @include mediaSM {
        .playlistSkeleton__body {
            padding: calc(#{$padding} * 0.67);
            padding-right: 1rem !important;
        }
    }
}
