@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.horizontalVideoSkeleton {
    border-radius: $border-radius;

    [class~='ant-card-body'] {
        padding: 1rem;
    }

    [class~='ant-skeleton-button'] {
        height: calc(#{$padding} * 0.5);
    }

    &[data-theme='dark'] {
        [class='ant-card'] {
            background-color: $dark20;
            [class~='ant-card-body'] {
                border-radius: $border-radius;
            }
        }
    }

    &__image {
        [class~='ant-skeleton-image'] {
            border-radius: $border-radius;
        }
        [class~='ant-skeleton-element'],
        [class~='ant-skeleton-image'] {
            width: 100%;
            height: 100%;
        }
    }
}
