@import 'styles/colors.scss';
@import '/styles/_mixins.scss';
@import 'styles/dimensions.scss';

.userMobileDropdown {
    &__authMenu {
        [class~='ant-dropdown-menu-item'] {
            margin: 0.5rem;

            [class~='ant-btn'] {
                padding-right: $padding;

                display: flex;
                align-items: center;
                justify-content: flex-start;

                font-weight: 700;

                [class~='anticon'] {
                    width: 1.2rem;
                }
            }
        }

        &[data-theme='dark'] {
            background: $black;
            [class~='ant-dropdown-menu-item'] {
                color: $light;
                &:hover {
                    background: $primary;
                    span {
                        color: $white;
                    }
                }
            }
        }
    }

    @include mediaMD {
        [class~='anticon'] {
            & > span {
                width: 1rem !important;
                height: 1rem !important;
            }
        }
    }
}
