@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.sendConf {
    margin-top: $content-padding;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
