@import 'styles/colors.scss';

.searchResults {
    display: flex;
    justify-content: center;

    [data-title='true'] {
        text-align: center;
        font-family: Poppins;
    }

    &__content {
        display: block;
        [class~='infinite-scroll-component'] {
            overflow-x: hidden !important;
        }

        [class~='ant-alert-message'] {
            color: $white;
        }
    }
}
