@import 'styles/colors.scss';
@import 'styles/dimensions.scss';
@import 'styles/_mixins.scss';

.illustration {
    &[data-theme='light'] {
        .illustration__legend {
            &__text {
                color: $primary !important;
            }

            &__subscribe {
                background: $light;

                &__text {
                    color: $primary;
                }
            }
        }
    }

    &[data-theme='dark'] {
        .illustration__legend {
            &__text {
                color: $white !important;
            }

            &__subscribe {
                background: $primary;

                &__text {
                    color: $light;
                }
            }
        }
    }

    &__legend {
        display: flex;
        flex-flow: column;
        justify-content: center;

        &__text {
            font-family: Poppins;
            @include preventTextSelection;

            line-height: 1.5 !important;
            font-weight: 900 !important;
            font-size: 3.5rem !important;
        }

        &__subscribe {
            border-radius: $border-radius;

            width: 80%;

            padding: calc(#{$padding} * 0.6);
            margin-top: $content-padding;

            &__text {
                font-size: 11pt;
                font-weight: 700;
                @include preventTextSelection;
            }

            [class~='ant-btn'] {
                display: flex;
                align-items: center;
                background: $youtube;
            }
        }
    }

    &__slider {
        width: 512px;
        height: 512px;
        background: url('/vector_music.svg');
    }

    [class~='ant-carousel'] {
        display: flex;
        justify-content: flex-end;
    }

    @include mediaXS {
        &__legend {
            &__text {
                font-size: 2.5rem !important;
                text-align: center;
            }

            &__subscribe {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-top: $padding;

                &__text {
                    font-size: 12pt;
                    display: flex;
                    margin-bottom: 1rem;
                    justify-content: center;
                }

                [class~='ant-btn'] {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    @include mediaSM {
        &__legend {
            &__text {
                text-align: center;
                font-size: 32pt !important;
            }

            &__subscribe {
                display: flex;
                justify-content: center;

                margin: auto;
                width: 70% !important;
                margin-top: $padding !important;

                &__text {
                    display: flex;
                    margin-bottom: 1rem;
                    justify-content: center;
                    font-size: 12pt !important;
                }

                [class~='ant-btn'] {
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }

    @include mediaMD {
        &__legend {
            display: flex;
            flex-flow: column;
            justify-content: space-around;

            &__text {
                text-align: left;
                font-size: 25pt !important;
            }

            &__subscribe {
                margin-top: 1rem;
                width: 100% !important;

                &__text {
                    margin-bottom: 0 !important;
                    font-size: 10pt !important;
                }
            }
        }

        &__slider {
            width: 320px;
            height: 320px;
        }
    }
}
