@import 'styles/colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/dimensions.scss';

.articleCarousel {
    [class~='slider-control-bottomcenter'] {
        display: none;
    }

    [class~='slider-control-centerleft'],
    [class~='slider-control-centerright'] {
        padding: 2rem;
        top: 100% !important;
        transform: translateY(-100%) !important;

        button {
            background: $warning !important;
            color: $dark !important;
            border-radius: $border-radius;
            font-weight: 600;
        }
    }

    [class~='slider-control-centerleft'] {
        left: auto !important;
        right: 70px !important;
    }

    [class~='slider-list'] {
        width: 100% !important;
    }

    @include mediaMD {
        [class~='slider-control-centerleft'],
        [class~='slider-control-centerright'] {
            padding: 2.8rem;
        }
    }
}
