@import 'styles/colors.scss';
@import 'styles/dimensions.scss';
@import 'styles/_mixins.scss';

.sidedrawer {
    @include preventTextSelection;
    transition: ease-out all 0.005s;

    [class~='ant-btn'] {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    [class~='ant-menu'] {
        border-right: 0;
    }
    [class~='ant-drawer-body'] {
        padding: 0 0.5rem;
    }
    [class='ant-drawer-footer'] {
        margin: 0 0.5rem;
        padding: 1rem 0;
    }

    &__divider {
        padding: 0 0.5rem;
        [class~='ant-divider'] {
            margin: 0;
        }
    }

    &__menu {
        &_divider {
            margin: 0.5rem 0;
        }

        &__sub {
            font-size: 11px;

            [class~='ant-menu-inline'] {
                border-radius: $border-radius;
            }

            [class~='ant-menu-submenu-title'] {
                padding-right: 0;
                padding-left: 1rem !important;
                border-radius: $border-radius;
            }

            &__items {
                display: flex;
                align-items: center;
                padding-left: 1.5rem !important;
                border-radius: $border-radius;

                width: 100% !important;
                &:hover {
                    width: calc(100% - 1px) !important;
                }

                &[data-active='true'] {
                    font-weight: 600;
                    background-color: rgba($color: $warning, $alpha: 0.8);

                    width: calc(100% - 1px) !important;

                    [class~='anticon'] {
                        display: flex;
                    }

                    * {
                        color: $primary;
                    }
                }
            }
        }

        &__items {
            display: flex;
            align-items: center;
            padding-left: 1rem !important;
            border-radius: $border-radius;

            width: 100% !important;
            &:hover {
                width: calc(100% - 1px) !important;
            }

            &[data-active='true'] {
                font-weight: 600;
                background-color: rgba($color: $warning, $alpha: 0.8);

                width: calc(100% - 1px) !important;

                [class~='anticon'] {
                    display: flex;
                }

                * {
                    color: $primary;
                }
            }

            a {
                text-transform: capitalize;
            }
        }
    }

    &__header {
        &__divider {
            margin: 0;
        }

        &__logo {
            height: $header-height;
            background-position: center;
            background-repeat: no-repeat;
            width: $min-sidenav-width;
            background-size: $logo-bg-size;
            background-position: calc(#{$padding} / 2);
        }

        [class~='hamburger-menu'] {
            background: transparent;
        }

        &__themeToggle {
            svg {
                width: 1.4rem;
                height: 1.4rem;
            }
        }
    }

    &[class~='theme_light'] {
        .sidedrawer__header {
            &__logo {
                background-image: url('/logo/short_light.svg');
            }

            [class~='hamburger-menu'] {
                color: $dark;
                svg {
                    rect {
                        fill: $dark;
                    }
                }
            }

            [class~='ant-btn-text']:hover {
                background: $dark10;
            }
        }

        .sidedrawer__menu {
            background-color: $white;
            &__items {
                svg,
                span,
                a {
                    color: $dark;
                }
                &:hover {
                    background-color: $bg-warning-fade;
                    -webkit-backdrop-filter: saturate(180%) blur(20px);
                    backdrop-filter: saturate(180%) blur(20px);

                    svg,
                    span,
                    a {
                        color: $black;
                        font-weight: 600;
                    }
                }
            }

            &__sub {
                [class~='ant-menu-inline'] {
                    background-color: $light;
                }
                [class~='ant-menu-submenu-title'] {
                    color: $dark50;

                    i {
                        color: $dark50;
                    }
                }

                &__items {
                    svg,
                    span,
                    a {
                        color: $dark;
                    }
                    &:hover {
                        background-color: $bg-warning-fade;
                        -webkit-backdrop-filter: saturate(180%) blur(20px);
                        backdrop-filter: saturate(180%) blur(20px);
                        svg,
                        span,
                        a {
                            color: $black;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        [class~='ant-drawer-wrapper-body'] {
            background: $light;
        }
    }

    &[class~='theme_dark'] {
        .sidedrawer__header {
            &__logo {
                background-image: url('/logo/short_dark.svg');
            }

            &__divider {
                background-color: $light20;
            }

            [class~='hamburger-menu'] {
                color: $white;
                svg {
                    rect {
                        fill: $white;
                    }
                }
            }

            [class~='ant-btn-text']:hover {
                background: $light10;
            }

            &__themeToggle {
                svg {
                    color: $yellow;
                }
            }
        }

        .sidedrawer__menu {
            background-color: $bg-primary-dark;
            &_divider {
                background-color: $light20;
            }

            &__items {
                svg,
                span,
                a {
                    color: $white;
                }
                &:hover {
                    background-color: $bg-warning-fade;
                    -webkit-backdrop-filter: saturate(180%) blur(20px);
                    backdrop-filter: saturate(180%) blur(20px);
                    svg,
                    span,
                    a {
                        color: $white;
                        font-weight: 600;
                    }
                }
            }

            &__sub {
                [class~='ant-menu-inline'] {
                    background-color: $bg-primary-dark;
                }
                [class~='ant-menu-submenu-title'] {
                    color: $light50;

                    i {
                        color: $light50;
                    }
                }

                &__items {
                    svg,
                    span,
                    a {
                        color: $white;
                    }
                    &:hover {
                        background-color: $bg-warning-fade;
                        -webkit-backdrop-filter: saturate(180%) blur(20px);
                        backdrop-filter: saturate(180%) blur(20px);
                        svg,
                        span,
                        a {
                            color: $white;
                            font-weight: 600;
                        }
                    }
                }
            }
        }

        [class~='ant-drawer-wrapper-body'] {
            background: $primary;
        }

        [class~='ant-drawer-footer'] {
            border-color: $light20;
        }
    }
}
