@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.articleSkeleton {
    [class~='ant-card-body'] {
        padding: 0;
    }
    &__cover {
        width: 100%;
        padding: $padding;

        [class~='ant-skeleton-image'] {
            width: 100%;
            height: 10.5rem;
            border-radius: $border-radius;
        }
    }

    &__content {
        padding: $padding;
        padding-top: 0;
    }

    &[data-theme='dark'] {
        [class~='ant-card-body'] {
            background-color: $primary;
        }
    }
}
