@import 'styles/colors.scss';
@import 'styles/mixins.scss';
@import 'styles/dimensions.scss';

.changePassword {
    margin: 0.5rem 0;

    [data-title='true'] {
        font-weight: 700;
        margin-bottom: 1.2rem;
    }

    [class='ant-card-body'] {
        padding: $padding calc($padding * 2);
    }

    @include mediaMinMD {
        margin: 0;
        margin-top: 0.5rem;
    }

    @include mediaMD {
        padding: 0 $padding;
    }

    &[data-theme='dark'] {
        border-color: $light10;
        background: $bg-primary-dark50;

        [data-title='true'] {
            color: $white;
        }

        label {
            color: $light !important;
        }
    }
}
