.updateAccount {
    height: 100%;

    [class='ant-card-body'] {
        padding: $padding calc($padding * 2);
    }

    [data-title='true'] {
        margin-bottom: 1.2rem;
    }

    [class~='ant-input-prefix'] {
        font-weight: 500;
        margin-right: 0.5rem;
        padding-right: 0.5rem;
        border-right: 1px solid $dark10;
    }
}
