@import 'styles/colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/dimensions.scss';

.relatedArticleCard {
    cursor: pointer;
    margin-bottom: 1rem;
    border-radius: $border-radius;

    [class~='ant-card-body'] {
        padding: 0;
        height: 100%;
    }

    [data-body='true'] {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: calc(#{$padding} * 0.67) 0;
    }

    &__cover {
        padding: calc(#{$padding} * 0.67);
        padding-right: 0;

        &__image {
            width: 100%;
            height: 100%;
            position: relative;

            img {
                object-fit: cover;
                aspect-ratio: 16 / 9;
                border-radius: $border-radius;
            }
        }
    }

    &__header {
        padding: 0 calc(#{$padding} * 0.67);

        [data-text='header'] {
            font-size: 12px;
        }
    }

    &__content {
        padding: calc(#{$padding} * 0.67);
        padding-top: 0.8rem;
        padding-bottom: 0;

        [data-text='title'] {
            height: 4rem;
            margin-bottom: 0;
            &:hover {
                text-decoration: underline;
            }
        }
    }

    &[data-theme='light'] {
        [class~='ant-card'] {
            background: $white;
        }
        [class~='ant-typography'] {
            color: $black;
        }
        [data-text='header'] {
            color: $dark;
        }
    }

    &[data-theme='dark'] {
        [class~='ant-card'] {
            background: $bg-primary-dark90;
        }
        [class~='ant-typography'] {
            color: $white;
        }
        [data-text='header'] {
            color: $light;
        }
    }

    @include mediaXS {
        [data-text='title'] {
            font-size: 10pt;
        }
    }
    @include mediaSM {
        [data-text='title'] {
            font-size: 10.5pt;
        }
    }
    @include mediaMD {
        [data-text='title'] {
            font-size: 10.5pt;
        }
    }
}
