@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.trendingSkeleton {
    margin-bottom: 1.4rem;
    border-radius: $border-radius;

    [class~='ant-skeleton-button'] {
        height: calc(#{$padding} / 2);
    }

    &[data-theme='dark'] {
        [class='ant-card'] {
            background-color: $dark20;
            [class~='ant-card-body'] {
                border-radius: $border-radius;
            }
        }
    }
}
