@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.videoCardVertical {
    [class~='ant-card-cover'] {
        display: flex;
        cursor: pointer;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        border-radius: $border-radius;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        img {
            height: 100%;
            transition: transform 0.5s ease;
        }

        &:hover img {
            transform: scale(1.2);
        }

        [class~='overlay'] {
            z-index: 1;
            cursor: pointer;
            position: absolute;
            transition: opacity ease-in-out 0.2s;

            display: flex;
            justify-content: center;
            align-items: center;

            [class~='ant-btn'] {
                display: flex;
                padding: $padding;
                align-items: center;
                justify-content: center;

                [class~='anticon'] {
                    font-size: 2rem;
                    background: $warning;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    border-radius: 80px;
                    box-shadow: 0px 0px 60px $primary;

                    svg {
                        path {
                            fill: $warning;
                            &:last-of-type {
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    [class~='ant-card-body'] {
        [class~='ant-card-meta'] {
            display: block;
        }

        [class~='ant-card-meta-title'] {
            height: 3rem;
            font-size: 14px;
            font-weight: 700;
            white-space: unset;
        }

        [class~='ant-card-meta-description'] {
            font-size: 13px;
            overflow: hidden;
            font-weight: 600;
            white-space: nowrap;
            text-overflow: ellipsis;

            [data-created-at='true'] {
                font-weight: 500;
            }
        }
    }

    [class~='ant-card-actions'] {
        background: unset;
    }

    &[data-theme='light'] {
        [class~='ant-card'] {
            background: $light;

            [class~='ant-card-meta-title'] {
                color: $dark;
            }

            [class~='ant-card-meta-description'] {
                color: $dark;
            }

            [class~='ant-card-actions'] {
                border-top: 1px solid $dark10 !important;

                & > li:not(:last-child) {
                    border-right: 1px solid $dark10;
                }
            }

            [data-author='true'] {
                color: $dark;
            }

            [data-created-at='true'] {
                color: $dark50;
            }
        }
    }

    &[data-theme='dark'] {
        [class~='ant-card'] {
            background: $primary;

            [class~='ant-card-meta-title'] {
                color: $white;
            }

            [class~='ant-card-meta-description'] {
                color: $light;
            }

            [class~='ant-card-actions'] {
                background: unset;
                border-top: 1px solid $light10 !important;

                & > li:not(:last-child) {
                    border-right: 1px solid $light10;
                }
            }

            [data-author='true'] {
                color: $light;
            }

            [data-created-at='true'] {
                color: $light50;
            }
        }
    }
}
