@import '~antd/lib/style/themes/default.less';

@primary-color: #0c2346;
@success-color: #1dd3b0;
@error-color: #ef476f;
@link-color: #1890ff;
@warning-color: #f07f34;

@default-padding-sm: 16px;
@border-radius-base: 4px;

@font-family: Quicksand, sans-serif;

@text-color: fade(@black, 65%);

@border: #f0f0f0;
