@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.favorites {
    padding: $padding;
    border-radius: $border-radius;

    &[data-theme='light'] {
        background: $light;
    }

    &[data-theme='dark'] {
        background: $bg-primary-dark50;
    }
}
