@import 'styles/colors.scss';
@import 'styles/_mixins.scss';
@import 'styles/dimensions.scss';

.favorites {
    padding: $padding;
    border-radius: $border-radius;

    &[data-theme='light'] {
        background: $light50;
    }

    &[data-theme='dark'] {
        background: $bg-primary-dark50;
    }

    @include mediaXS {
        padding: 1rem;
    }
    @include mediaSM {
        padding: 1rem;
    }
    @include mediaMD {
        padding: 1rem;
    }
}
