@import 'styles/colors.scss';
@import 'styles/dimensions.scss';
@import 'styles/_mixins.scss';

.adsCarousel {
    width: 100%;
    height: 38rem;
    background: $bg-warning-fade;
    border-radius: $border-radius;
    box-shadow: 0px 8px 12px rgb(0 0 0 / 20%);

    &__left {
        height: 38rem;
        border-radius: $border-radius;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        padding: $content-padding;
        color: $white;

        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: flex-start;

        [data-legend='true'] {
            color: $white;
            margin-bottom: 1rem;
            border-color: $light;
            background: transparent;
        }

        [data-title='true'] {
            font-family: Poppins;
            font-weight: 800;
            font-size: 3rem;
            text-transform: uppercase;
            text-align: start;
            color: $white;
            margin-bottom: 0;
        }

        [data-subtitle='true'] {
            text-align: start;
            color: $white;
            font-size: 13px;
            display: inline-block;
            margin-bottom: 2rem;
        }

        [data-body='true'] {
            text-align: start;
            color: $white;
            font-size: 13pt;
        }

        [class~='ant-btn'] {
            display: flex;
            align-items: center;

            padding: $padding !important;

            &:hover,
            &:active,
            &:focus {
                color: $white;
                border-color: $white;
            }

            span {
                text-transform: uppercase;
            }
        }
    }

    [class~='right'] {
        height: 38rem;
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1;
            object-fit: cover;
            border-radius: 4px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    [class~='slider-list'] {
        width: 100% !important;

        [class~='slider-slide'] {
            width: 100% !important;
        }
    }

    [class~='slider-frame'] {
        border-radius: $border-radius;

        [data-title='true'] {
            font-size: 2.4rem;
        }
    }

    @include mediaXS {
        height: 30rem;
        .adsCarousel__left {
            height: 30rem;
            padding: $padding;
            justify-content: space-around;

            [data-legend='true'] {
                font-size: 8pt;
                line-height: 0;
                padding: 0.5rem;
            }

            [data-title='true'] {
                font-size: 20pt;
            }

            [data-subtitle='true'] {
                font-size: 12.5pt;
            }

            [data-body='true'] {
                font-size: 12pt;
            }

            [class~='ant-btn'] {
                padding: calc(#{$padding} * 0.65) !important;
                margin-top: 0 !important;
            }
        }
    }

    @include mediaSM {
        height: 30rem;
        .adsCarousel__left {
            height: 30rem;
            padding: $padding;
            justify-content: space-between;

            [data-title='true'] {
                font-size: 28pt;
            }

            [data-subtitle='true'] {
                font-size: 12.5pt;
            }

            [data-body='true'] {
                font-size: 12pt;
            }
        }
    }

    @include mediaMD {
        height: 22rem;

        [class~='right'] {
            height: 22rem;
        }
        .adsCarousel__left {
            height: 22rem;
            padding: calc(#{$padding} * 1.2);
            padding-right: 0;

            [data-legend='true'] {
                font-size: 8pt;
            }

            [data-title='true'] {
                font-size: 18pt;
            }

            [data-subtitle='true'] {
                font-size: 11pt;
            }

            [data-body='true'] {
                font-size: 9.5pt;
            }

            [class~='ant-btn'] {
                padding: 1rem !important;
                span {
                    font-size: 9pt;
                }
            }
        }
    }
}
