@import 'styles/dimensions.scss';
@import 'styles/colors.scss';
@import 'styles/_mixins.scss';

.videoPlayer {
    border-radius: $border-radius;
    transition: box-shadow ease-in-out 0.2s;

    &:hover {
        box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
    }

    &__container {
        position: relative;
        padding-top: 56.25%;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: $border-radius;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        &[data-video-loaded='false'] {
            background-color: $gray;
            background-image: linear-gradient(to right, $gray 0%, $dark10 20%, $neutral 40%, $gray 100%);
            background-repeat: no-repeat;
            background-size: cover;

            animation-duration: 1.3s;
            animation-fill-mode: forwards;
            animation-iteration-count: infinite;
            animation-name: placeholderShimmer;
            animation-timing-function: ease-out;
        }

        [class~='ant-spin'] {
            position: absolute;
            top: 50%;
        }

        &__player {
            position: absolute;
            top: 0;
            left: 0;

            iframe {
                border-radius: $border-radius;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }
    }

    &__footer {
        cursor: pointer;

        border-radius: $border-radius;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        padding: 1rem 1.65rem;

        [class~='ant-typography'] {
            display: flex;
        }

        [data-title='true'] {
            margin-top: 1rem !important;
            font-size: 12pt;
            font-weight: 600;
        }

        [data-views='true'] {
            font-size: 10pt;
        }

        [class~='dv-star-rating-star'] {
            font-size: 15pt;
        }

        button {
            padding: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;

            &[data-like='true'],
            &[data-comment='true'],
            &[data-playlist='true'] {
                display: flex;
                align-items: center;
                flex-flow: row-reverse;

                margin-left: 1rem;

                svg {
                    font-size: 15pt;
                }

                [data-count='true'] {
                    font-size: 12pt;
                    margin-right: 0.3rem;
                }
            }

            &[data-share-button='true'] {
                padding: 1rem !important;
                svg {
                    margin-right: 0.2rem;
                }
            }
        }

        [class~='ant-divider'] {
            margin: 1rem 0;
        }

        [data-channel='true'] {
            font-weight: 600;
            font-size: 10.5pt;
        }

        [data-subscribers='true'] {
            font-size: 10pt;
        }
    }

    &[data-theme~='light'] {
        .videoPlayer__footer {
            background-color: $white;

            [data-title='true'],
            [data-channel='true'] {
                color: $black;
            }

            [data-views='true'] {
                color: $dark50;
            }

            button {
                color: $dark;
                &:hover,
                &:active {
                    color: $black;
                }
            }

            [data-subscribers='true'] {
                color: $dark50;
            }

            [class~='ant-divider'] {
                border-color: $dark20;
            }
        }
    }

    &[data-theme~='dark'] {
        .videoPlayer__footer {
            background-color: $primary;

            [data-title='true'],
            [data-channel='true'] {
                color: $white;
            }

            [data-views='true'] {
                color: $light50;
            }

            button {
                color: $light;
                &:hover,
                &:active {
                    color: $white;
                }
            }

            [data-subscribers='true'] {
                color: $light50;
            }

            [class~='ant-divider'] {
                border-color: $light20;
            }

            [class~='dv-star-rating-empty-star'] {
                color: $grey !important;
            }
        }
    }

    @keyframes placeholderShimmer {
        0% {
            background-position: -468px 0;
        }
        100% {
            background-position: 468px 0;
        }
    }

    @include mediaXS {
        [class~='ant-affix'] {
            left: 0 !important;
            right: 0 !important;
            width: 100% !important;
            height: 0 !important;

            iframe {
                border-radius: 0 !important;
            }

            .videoPlayer__footer {
                height: 0;
                opacity: 0;
                z-index: -1000;
                visibility: hidden;
                transition: all ease-in-out 0.2s;
            }
        }

        &__container {
            position: relative;
            padding-top: 65.25%;
        }

        &__footer {
            padding: 0.8rem 1rem;

            [data-title='true'] {
                margin-top: 0.8rem !important;
                font-size: 12pt;
                font-weight: 600;
            }

            [data-views='true'] {
                font-size: 10pt;
            }

            [class~='dv-star-rating-star'] {
                font-size: 14pt;
            }

            button {
                display: flex;
                padding: 0 !important;
                align-items: center;
                justify-content: center;

                &[data-like='true'],
                &[data-playlist='true'],
                &[data-comment='true'] {
                    margin-left: 0 !important;
                    margin-right: 1rem !important;
                }

                &[data-playlist='true'] {
                    margin: 0 !important;
                }

                [data-count='true'] {
                    font-size: 12pt;
                    margin-right: 0.2rem;
                    margin-left: 0;
                }

                &[data-share-button='true'] {
                    padding: 0.5rem !important;
                }

                [class~='anticon'] {
                    font-size: 12pt;
                }

                &[class~='ant-btn-icon-only'] {
                    svg {
                        font-size: 13pt;
                    }
                }
            }

            [class~='ant-divider'] {
                margin: 0.8rem 0;
            }

            [data-channel='true'] {
                font-size: 10pt;
            }

            [data-subscribers='true'] {
                font-size: 9pt;
            }
        }
    }

    @include mediaSM {
        [class~='ant-affix'] {
            left: 0 !important;
            right: 0 !important;
            height: 0 !important;
            width: 100% !important;

            iframe {
                border-radius: 0 !important;
            }

            .videoPlayer__footer {
                height: 0;
                opacity: 0;
                z-index: -1000;
                visibility: hidden;
                transition: all ease-in-out 0.2s;
            }
        }

        &__container {
            position: relative;
            padding-top: 65.25%;
        }

        &__footer {
            padding: 0.8rem 1rem;

            [data-title='true'] {
                margin-top: 0.8rem !important;
                font-size: 11.5pt;
                font-weight: 600;
            }

            [data-views='true'] {
                font-size: 9pt;
            }

            [class~='dv-star-rating-star'] {
                font-size: 14pt;
            }

            button {
                padding: 0 !important;
                display: flex;
                align-items: center;
                justify-content: center;

                &[data-like='true'],
                &[data-playlist='true'],
                &[data-comment='true'] {
                    margin-left: 0 !important;
                    margin-right: 1rem !important;
                }

                &[data-playlist='true'] {
                    margin: 0 !important;
                }

                [data-count='true'] {
                    font-size: 12pt;
                    margin-right: 0.2rem;
                    margin-left: 0;
                }

                &[data-share-button='true'] {
                    padding: 0.65rem !important;
                }

                [class~='anticon'] {
                    font-size: 12pt;
                }

                &[class~='ant-btn-icon-only'] {
                    svg {
                        font-size: 13pt;
                    }
                }
            }

            [class~='ant-divider'] {
                margin: 0.8rem 0;
            }

            [data-channel='true'] {
                font-size: 10pt;
            }

            [data-subscribers='true'] {
                font-size: 9pt;
            }
        }
    }
}
