@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.header {
    position: fixed;
    transition: ease-out all 0.05s;
    height: $header-height;

    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 $padding;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);

    [class~='hamburger-menu'] {
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            width: 1.4rem;
            height: 1.4rem;
        }
    }

    &[data-theme='light'] {
        background-color: $light;

        [class~='hamburger-menu'] {
            svg {
                rect {
                    fill: $primary;
                }
            }
        }

        .header__row {
            &__logo {
                background-image: url('/logo/large_light.svg');
                background-size: $logo-bg-size;
                background-repeat: no-repeat;
                background-position: left center;
            }
        }

        [class~='ant-btn-text']:hover {
            background: $dark10;
        }
    }

    &[data-theme='dark'] {
        background-color: $bg-primary-dark;

        [class~='ant-btn-default']:hover {
            color: $white;
            border-color: $white;
        }

        [class~='ant-btn-background-ghost'] {
            color: $warning;
            border-color: $warning;
        }

        [class~='ant-btn-text']:hover {
            background: $light10;
        }

        [class~='hamburger-menu'] {
            svg {
                rect {
                    fill: $white;
                }
            }
        }

        .header__row {
            &__logo {
                background-image: url('/logo/large_dark.svg');
                background-size: $logo-bg-size;
                background-repeat: no-repeat;
                background-position: left center;
            }

            &__social {
                color: $light;
            }
        }
    }

    &__row {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;

        [class~='ant-col'] {
            display: flex;
            align-items: center;
        }

        &__logo {
            width: $max-sidenav-width;
            height: $min-sidenav-width;
            position: relative;
            right: 1rem;
        }

        &__social {
            width: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                [class~='twitter'] {
                    color: $twitter;
                }
                [class~='instagram'] {
                    color: $instagram;
                }
                [class~='facebook'] {
                    color: $facebook;
                }
                [class~='youtube'] {
                    color: $youtube;
                }
            }
        }
    }
}
