@import 'styles/colors.scss';
@import 'styles/dimensions.scss';

.emptyData {
    padding: $content-padding;

    [class~='ant-empty-image'] {
        height: 200px;
        margin: calc(#{$padding} * 1.5);

        img {
            padding: $padding;
            background: $white;
            border-radius: $border-radius;
        }
    }

    [class~='ant-empty-description'] {
        font-size: 15pt;
        font-weight: 500;
    }

    &[data-theme='light'] {
        [class~='ant-empty-description'] {
            color: $dark;
        }
    }
    &[data-theme='dark'] {
        [class~='ant-empty-description'] {
            color: $light;
        }
    }
}
