$primary: #0c2346;
$success: #1dd3b0;
$error: #ef476f;
$warning: #f07f34;
$neutral: #b0d7ff;
$white: #ffffff;
$black: #000000;
$yellow: #ffc300;

$bg-warning-fade: rgba(
    $color: $warning,
    $alpha: 0.5,
);

$dark: rgba(
    $color: $black,
    $alpha: 0.65,
);

$light: rgba(
    $color: $white,
    $alpha: 0.65,
);

$light50: rgba(
    $color: $white,
    $alpha: 0.5,
);

$bg-primary-light: rgba(
    $color: $neutral,
    $alpha: 0.5,
);
$bg-primary-dark: rgba(
    $color: #0c2346,
    $alpha: 0.5,
);

$twitter: #1da1f2;
$instagram: #e1306c;
$facebook: #4267b2;
$youtube: #ff0000;

$loader: #072ac9;

$bg-sidenav-triger: rgba(
    $color: $neutral,
    $alpha: 0.2,
);
