$padding: 24px;
$modal-padding: 72px;

$header-height: 64px;
$mobile-header-height: 56px;

$sm-size: 576px;
$md-size: 768px;
$lg-size: 992px;
$xl-size: 1200px;

$scroll-break: 1080px;

$content-padding: $modal-padding;
$mobile-content-padding: $padding - 10px;

$logo-size: 180px;
$mobile-logo-size: 120px;

$logo-bg-size: 65%;

$max-sidenav-width: 200px;
$min-sidenav-width: 60px;

$border-radius: 4px;
