@import 'colors.scss';
@import 'dimensions.scss';

body {
    width: 100% !important;
    overflow-y: auto;

    &[class~='light-mode'] {
        background: url('/bg-light.svg');

        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
    &[class~='dark-mode'] {
        background: url('/bg-dark.svg');

        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

[class~='ant-btn'] {
    [class~='ant-btn-loading-icon'] {
        display: flex;
    }
}

textarea {
    &::-webkit-input-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &:-moz-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &::-moz-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &:-ms-input-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &::placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }
}

[data-content-padding] {
    padding: calc(#{$content-padding} / 2) 0;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.react-horizontal-scrolling-menu--wrapper {
    position: absolute;
    right: 0;
    left: 0;
}

[class~='ant-form-item-with-help'],
[class~='ant-form-item-has-error'] {
    margin-bottom: $padding !important;
}

[class~='ant-form-item-explain-error'] {
    font-size: 12px;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}

[class~='ant-message-notice-content'] {
    [class~='ant-message-custom-content'] {
        display: flex;
        align-items: center;
    }
}

[class~='ant-input-password'] {
    [class~='ant-input-lg'] {
        padding: 0 !important;
    }
}

[class~='ant-input-affix-wrapper-lg'] {
    [class~='ant-input'] {
        padding: 2.5px !important;
    }
}

[class~='ant-select-selection-placeholder'] {
    font-size: 14px;
    color: $dark50 !important;
}
[class~='ant-picker-large'] {
    padding: 10px 11px 10px !important;
    input {
        font-size: 14px !important;
    }
}
[class~='ant-picker-footer'] {
    a {
        text-decoration: none;
    }
}

[class~='ant-select-lg'] {
    [class~='ant-select-selector'] {
        height: 45px !important;
    }
}

[class~='ant-select-item-option-selected']:not(.ant-select-item-option-disabled) {
    background-color: $warning !important;
}
[class~='ant-select-selection-item'],
[class~='ant-select-selection-placeholder'] {
    display: flex;
    align-items: center;
}
[class~='ant-select-multiple'] {
    [class~='ant-select-selector'] {
        padding: 2.5px 4px !important;
    }
    [class~='ant-select-selection-item'] {
        height: 32px !important;
        line-height: 28px !important;
    }
}

[class~='ant-select-lg'] {
    font-size: 14px !important;
}

[class~='ant-input-lg'],
[class~='ant-picker-large'] {
    width: 100%;
    font-size: 14px !important;
    padding: 10px 11px !important;
}

[class~='ant-form-item-label'] {
    padding: 0 !important;
    label {
        display: flex;
        flex-flow: row-reverse;
        justify-content: flex-end;
        color: $dark !important;

        font-weight: 500;
        height: 0 !important;
        font-size: 12px !important;
        &::before {
            padding-left: 4px;
        }
    }
}
