@import 'colors.scss';
@import 'dimensions.scss';

textarea {
    &::-webkit-input-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &:-moz-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &::-moz-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &:-ms-input-placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }

    &::placeholder {
        font-size: 14px;
        color: $dark50 !important;
    }
}

[data-content-padding] {
    padding: calc(#{$content-padding} / 2) 0;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
    display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.react-horizontal-scrolling-menu--wrapper {
    position: absolute;
    right: 0;
    left: 0;
}

[class~='ant-form-item-with-help'],
[class~='ant-form-item-has-error'] {
    margin-bottom: 1rem !important;
}

[class~='ant-form-item-explain-error'] {
    * {
        font-size: 12px;
    }
}
