@import 'colors.scss';

#nprogress {
    pointer-events: none;
}

#nprogress .bar {
    background: $loader linear-gradient(to right, $error, $white, $loader, $warning, $success);
    background-size: 900% 900%;

    position: fixed;
    z-index: 1031;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    animation: 2s linear infinite barprogress, 0.3s fadein;
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 1031;
    top: 15px;
    right: 15px;
}

#nprogress .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;

    border: solid 2px transparent;
    border-top-color: #118ab2;
    border-left-color: #118ab2;
    border-radius: 50%;

    -webkit-animation: nprogress-spinner 400ms linear infinite;
    animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
    overflow: hidden;
    position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
    position: absolute;
}

@-webkit-keyframes nprogress-spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes nprogress-spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes barprogress {
    0% {
        background-position: 0% 0;
    }
    to {
        background-position: 125% 0;
    }
}
